@import ./fonts

// fonts
$avenir: 'avenir'
$medium: 'avenir-medium'
$italic: 'avenir-italic'
$semiBold: 'avenir-semi-bold'
$ultraLight: 'avenir-ultra-light'

// colors
$mainColor: #000
$white: #fff

// transitions
$defaultTime: .5s
$defaultDelay: $defaultTime
$mainTransition: all cubic-bezier(.28,.1,.29,.99)
$bulletpointsHoverOn: $defaultTime transform ease-out, $defaultTime height ease-out $defaultDelay
$bulletpointsHoverOff: $defaultTime transform cubic-bezier(.28,.1,.29,.99) $defaultDelay * 2, $defaultTime height cubic-bezier(.28,.1,.29,.99) $defaultDelay