ul
  // List Technologies
  &.technologies
    font-size: 30px
    padding-left: 20px
    height: 100%
    position: absolute
    display: inline-flex
    flex-direction: column
    justify-content: space-between

  // List Works
  &.works-list
    display: flex
    flex-wrap: wrap

    li
      display: inline-block
      width: 33%
      height: 300px
      position: relative
      opacity: 0

      &:before
        content: ""
        width: 100%
        height: 100%
        position: absolute
        left: 0
        top: 0
        background: rgba(0, 0, 0, .05)
        z-index: 1

      a
        display: inline-block
        width: 100%
        height: 100%
        position: relative

        &:after
          content: ''
          position: absolute
          top: 0
          left: 0
          background: $mainColor
          width: 0
          height: 100%
          +transition($mainTransition)

        .works-content
          position: absolute
          top: 0
          left: 0
          z-index: 1
          width: 100%
          height: 100%
          text-align: initial

          .works-wrapper
            display: inline-flex
            flex-direction: column
            padding: 60px 20px 0

          h4
            color: $white
            font-family: $semiBold
            font-size: 25px
            opacity: 0
            +translate3d(-5px, 0, 0)

          p
            color: $white
            font-size: 18px
            opacity: 0
            +translate3d(0, 5px, 0)

        &:hover
          &:after
            width: 100%

          h4
            opacity: 1
            +translate3d(0, 0, 0)
            +transition($mainTransition)

          p
            opacity: 1
            +translate3d(0, 0, 0)
            +transition($mainTransition, $defaultTime, .4s)

  // List Bulletpoints
  &.bulletpoints

    li
      margin: 25px 0
      height: 32px
      line-height: 32px

      a
        display: inline-block
        width: 16px
        height: 16px
        border: 1px solid #fff
        transform: rotate(45deg)
        transition: $bulletpointsHoverOff
        vertical-align: middle
        position: relative

        &.router-link-active
          cursor: default
          background: #fff

        span
          position: absolute
          background: #fff
          right: 100%
          white-space: nowrap
          top: -.5px
          font-size: 25px
          color: rgba(119, 124, 157, 0.5)
          height: 32px
          line-height: 32px
          padding: 0 23px
          opacity: 0
          max-width: 0
          +transition($mainTransition)
          display: inline-block
          border: 1px solid #fff

          p
            opacity: 0

        &:hover:not(.router-link-active)
          background: #ffffff
          transform: rotate(0)
          height: 100%
          transition: $bulletpointsHoverOn

          span
            opacity: 1
            max-width: 500px
            +transition($mainTransition, 1s, .6s)

            p
              opacity: 1
              +transition($mainTransition, $defaultTime, .8s)