#menu
  width: 100%
  position: fixed
  top: 0
  left: 0
  text-align: right
  padding-right: 20px
  opacity: 0
  +translate3d(100px, 0, 0)
  animation: fadeInTranslateX .5s ease-out both

  a
    font-size: 20px
    margin: 40px 20px
    padding: 5px 0
    display: inline-block
    position: relative

    &.active
      cursor: default

      &:before,
      &:after
        width: 50%

    &:hover
      &:before,
      &:after
        width: 50%

    &:before,
    &:after
      content: ''
      position: absolute
      bottom: 0
      width: 0
      height: 2px
      background: $mainColor
      +transition($mainTransition)

    &:before
      left: 0

    &:after
      right: 0
      text-align: right

  +phone
    a
      font-size: 15px
      margin: 10px 5px

@keyframes fadeInTranslateX
  0%
    opacity: 0
    +translate3d(100px, 0, 0)
  100%
    opacity: 1
    +translate3d(0, 0, 0)
