img
  &.image
    height: 35vh
    +transition($mainTransition)

    &[lazy=loading]
      background: $mainColor

    &[lazy=loaded]
      animation: fadeIn $defaultTime $defaultEase
      +box-shadow(0, 2px, 9px, 0, rgba(0, 0, 0, 0.4))

    +phoneAndTablet
      width: 100%
      height: auto

    +phoneLandscape
      width: auto
      height: 35vh

  &.arrows
    +translate3d(0, 0, 0)

    &:hover
      +translate3d(-5px, 0, 0)

.technologies,
.type,
.client,
.title,
.discover
  animation: fadeIn $defaultTime * 4 $defaultEase both

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1





