p
  &.job-description
    font-size: 20px
    font-family: $ultraLight
    color: $white
    background: $main-color
    padding: 10px 200px 80px 10px
    display: inline-block

  &.about-content
    font-size: 25px
    text-indent: 35px

  &.type
    font-size: 33px
    font-family: $medium
    text-align: center
    width: 60%

  &.client
    font-size: 30px
    font-family: $italic
    text-align: center
    width: 60%