p
  margin: 0

  &.about-content
    font-size: 22px
    line-height: 1.5em

    &:first-child
      margin-bottom: 20px

    &:nth-child(5)
      margin-top: 20px

    a
      background: $mainColor
      color: $white
      border: 1px solid $mainColor
      padding: 0 5px
      +transition($mainTransition)

      &:hover
        background: $white
        color: $mainColor

    +phone
      font-size: 15px

  &.type
    font-size: 33px
    font-family: $medium
    opacity: 0

    +phone
      font-size: 20px

    +phoneAndTablet
      width: 100%
      margin-bottom: 15px

  &.client
    font-size: 24px
    font-family: $italic
    opacity: 0

    +phone
      font-size: 15px

    +phoneAndTablet
      width: 100%
      margin-top: 15px

  &.copyright
    position: absolute
    bottom: 10px
    left: 10%

.first-typer
  .caret
    background: $white

    &.complete
      display: inline-block
      background: $white





