p
  &.about-content
    font-size: 25px
    text-indent: 35px

    +phone
      font-size: 20px

  &.type
    font-size: 33px
    font-family: $medium
    text-align: center
    width: 60%

  &.client
    font-size: 30px
    font-family: $italic
    text-align: center
    width: 60%


