h1
  &.fullname
    font-family: $semiBold
    font-size: 45px
    position: relative
    margin: 60px 0 0 130px
    +translate3d(0, 100px, 0)
    animation: fullname .5s ease-out both

    .name
      font-size: 65px
      opacity: .2
      position: absolute
      top: -25px
      left: -80px
      text-transform: uppercase
      +translate3d(-200px, -100px, 0)
      animation: name .5s ease-out both

    +phone
      font-size: 15px
      margin: 20px 0 0 40px

      .name
        font-size: 20px
        top: -10px
        left: -25px

    +tablet
      font-size: 30px

      .name
        font-size: 50px

h2
  margin: 0

  &.job
    font-family: $medium
    font-size: 70px

    +phone
      font-size: 35px

  &.title
    font-size: 66px
    text-align: center
    padding-top: 30px
    opacity: 0

    +phone
      font-size: 40px

h3
  &.subtitle
    font-family: $semiBold
    font-size: 45px
    padding: 30px 0 0

    +phone
      font-size: 35px
      padding: 10px 0 0

h4
  margin: 0

@keyframes fullname
  0%
    +translate3d(100px, 0, 0)
  100%
    +translate3d(0, 0, 0)

@keyframes name
  0%
    +translate3d(-200px, 0, 0)
  100%
    +translate3d(0, 0, 0)

